{
  "extends": [
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": false,
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "id-length": [2, {
      "min": 3,
      "max": 30,
      "properties": "never",
      "exceptions": ["t", "id"]
    }],
    "no-console": 1,
    "no-alert": 1,
    "no-trailing-spaces": 2,
    "object-curly-spacing": [ 2, "always" ],
    "semi": [ 2, "never" ]
  }
}
